kubernetes-talos-control-1.yaml
kubernetes-talos-control-2.yaml
kubernetes-talos-control-3.yaml
kubernetes-talos-node-gpu-1.yaml
kubernetes-talos-node-large-1.yaml
kubernetes-talos-node-large-2.yaml
talosconfig
