---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:16.4-51
  primaryUpdateStrategy: unsupervised
  storage:
    size: 20Gi
    storageClass: mayastor-single-replica
  superuserSecret:
    name: cloudnative-pg-secret
  enableSuperuserAccess: true
  postgresql:
    parameters:
      max_connections: "400"
      shared_buffers: 256MB
  resources:
    requests:
      cpu: 500m
    limits:
      memory: 4Gi
  monitoring:
    enablePodMonitor: true
    # see https://github.com/cloudnative-pg/cloudnative-pg/issues/2501
    podMonitorMetricRelabelings:
      - sourceLabels: ["cluster"]
        targetLabel: cnpg_cluster
        action: replace
      - regex: cluster
        action: labeldrop
  backup:
     retentionPolicy: 30d
     barmanObjectStore: &barmanObjectStore
       # when recovering from an existing cnpg cluster
       # Note: serverName version needs to be incremented
       serverName: &currentCluster postgres16-v6
       destinationPath: s3://cloudnative-pg/
       endpointURL: http://minio.storage.svc.cluster.local:9000
       s3Credentials:
         accessKeyId:
           name: cloudnative-pg-minio-secret
           key: accessKeyId
         secretAccessKey:
           name: cloudnative-pg-minio-secret
           key: secretAccessKey
       data:
         compression: bzip2
       wal:
         compression: bzip2
         maxParallel: 8
  # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster
  #bootstrap:
  #  initdb:
  #    database: app
  #    owner: app
  #    secret:
  #      name: cloudnative-pg-secret
  bootstrap:
    recovery:
      source: &previousCluster postgres16-v5

  # NOTE: externalClusters is needed when recovering from an existing cnpg cluster
  externalClusters:
    - name: *previousCluster
      barmanObjectStore:
        <<: *barmanObjectStore
        serverName: *previousCluster
