---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: grafana-admin
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: grafana-admin-secrets
    template:
      data:
        admin-user: "{{ .GRAFANA_ADMIN_USERNAME }}"
        admin-password: "{{ .GRAFANA_ADMIN_PASSWORD }}"

  # https://github.com/Infisical/infisical/issues/2469
  # need to do this way because bug on infiscal side
  dataFrom:
    - find:
        path: GRAFANA_ADMIN_USERNAME

    - find:
        path: GRAFANA_ADMIN_PASSWORD
