---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: smtp-relay
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: infisical
  target:
    name: smtp-relay-secret
    template:
      engineVersion: v2
      data:
        SMTP_RELAY_HOSTNAME: "{{ .SMTP_RELAY_HOSTNAME }}"
        SMTP_RELAY_SERVER: "{{ .SMTP_RELAY_SERVER }}"
        SMTP_RELAY_USERNAME: "{{ .SMTP_RELAY_USERNAME }}"
        SMTP_RELAY_MEDIA_USERNAME: "{{ .SMTP_RELAY_MEDIA_USERNAME }}"
        SMTP_RELAY_PASSWORD: "{{ .SMTP_RELAY_PASSWORD }}"
        SMTP_SECRET_DOMAIN: "${SECRET_DOMAIN}"
        SMTP_SECRET_DOMAIN_MEDIA: "${SECRET_DOMAIN_MEDIA}"

  dataFrom:
    - find:
        name:
          regexp: ^SMTP.*
