---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai
components:
  - ../../flux/components/common
resources:
  - ./open-webui/ks.yaml
  - ./n8n/ks.yaml
  - ./ollama/ks.yaml
  #- ./wyoming-whisper/ks.yaml


